spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: localhost
---
spring:
  profiles: peer1
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1002/eureka/,http://localhost:1003/eureka/
server:
  port: 1001
---
spring:
  profiles: peer2
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1001/eureka/,http://localhost:1003/eureka/
server:
  port: 1002
---
spring:
  profiles: peer3
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:1001/eureka/,http://localhost:1002/eureka/
server:
  port: 1003
foo: qqq



